<div class=" header container-fluid ">
  <div id="hambMenu" class="collapse " id="navbarToggleExternalContent">
    <div class="container-fluid bg-dark">
        <ul id="menu" class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active ">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
            </li>
          </ul>
        
    </div>
  </div>

  
  
  <div id="primer" class="navbar justify-content-left navbar-light   mb-0 p-0  ">
    
          <div id="hamb" class="col-1 m-auto">
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span  ><i class="fas fa-bars"></i></span>
            </button>

 

          </div>

          <div id="BarraLogo" class="col-10 p-3 m-auto">

           
            <a id="logo" class="  " href="#"> <img  src="assets/Logoweb.png" class="rounded mx-auto d-block" width="25%" height="100%" alt=""> </a>
          </div>

          <div id="hamb2" class="col-3 text-right">
            <a  href="#">
              <span ><i style="color:rgba(0, 0, 0, 0.568)" class="fas fa-shopping-bag fa-2x m-2"></i> </span>
            </a>

            <a href="">       
              <span>
                <i style="color:rgba(0, 0, 0, 0.561)" class="fas fa-user-circle fa-2x m-2"></i>

              </span>
             </a>

          </div>



        </div>  




       <!-- <nav >
          <div id="nav" class="navbar justify-content-center navbar-dark p-0 ">

            
            <a class=" navbar-item  " href="#"><small> <b> Anillos </b> </small></a>
            <a class=" navbar-item  " href="#"><small><b> Pulseras </b></small></a>
            <a class="navbar-item  " href="#"><small><b> Dijes </b> </small> </a>
            <a class=" navbar-item  " href="#"><small><b> Billeteras </b> </small></a>

          </div>

        </nav>-->
</div>