<div class="super_container"> 



          <!-- Home -->

<div class=" home">
		
			
				
						
    <div class="background_image" style="background-image:url(assets/banner/picbacground.png)"></div>
    <div class="home_container">
      <div class="  container ">
        <div class="row">
          <div class="col">
            <div class="home_content  ">
              <div class="" > 
                <h1 > Accsesorios </h1>
                <h4>Tenemos todo para tu outfit ideal</h4>
              </div>
              <div class="booking_form_container animated bounceInLeft">
               
                      
                      
                      
                      <div><a [routerLink]="['/store']"   type="button"  class="btn btn-light btn-lg">Descubri mas</a></div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


  





</div>


<!-- Features -->

<div class="features">
    <div class="container">
    <div class="row">
      
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/Atributos/Billetera.png" class="svg" alt=""></div>
          <div class="icon_box_title"><h2>Hasta 12 cuotas </h2></div>
          <div class="icon_box_text">
            <p>Podes abonar en cuotas sin interes. Comproba las ofertas de Mercado Pago y Todo Pago.</p>
          </div>
        </div>
      </div>
    
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/Atributos/Bus.png" class="svg" alt=""></div>
          <div class="icon_box_title"><h2>Envios a todo el pais</h2></div>
          <div class="icon_box_text">
            <p>Realizamos envios a todo el pais. Si tu compra es superios a $1500 el envio es gratis!.</p>
          </div>
        </div>
      </div>
    
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/Atributos/Person.png" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
          <div class="icon_box_title"><h2>Soporte 24/7</h2></div>
          <div class="icon_box_text">
            <p>Estamos disponibles para cualquier consulta que tengas.</p>
          </div>
        </div>
      </div>
    
    </div>
    </div>
    </div>


    <!--Productos-->
    <div class="features">
      
      <div class="m-auto  row">

          <div class="card m-auto " style="width: 18rem;">
              <img src="assets/Productos/anillo.png" class="card-img-top" alt="...">
              <div class="card-body">
                
                
                <button href="#" class="btn btn-light btn-block">Anillos</button>
              </div>
            </div>


            <div class="card m-auto " style="width: 18rem;">
                <img src="assets/Productos/pulseras.png" class="card-img-top" alt="...">
                <div class="card-body">
                
                  
                    <button href="#" class="btn btn-light btn-block">Pulseras</button>
                </div>
              </div>

            
              <div class="card m-auto " style="width: 18rem;">
                  <img src="assets/Productos/collares.png" class="card-img-top" alt="...">
                  <div class="card-body">
                  
                    
                      <button href="#" class="btn btn-light btn-block">Collares</button>
                  </div>
                </div>


              
                <div class="card m-auto" style="width: 18rem;">
                    <img src="assets/Productos/dijesF.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    
                      
                        <button href="#" class="btn btn-light btn-block">Dijes</button>
                    </div>
                  </div>
            
          
      


            </div> 

      </div>


    <!--Tendencias-->  
    <div class="container-fluid">


      <div class="container text-center">
        <h3>Tendencias</h3>
        <hr>
        <p>asdadaddasdadadadadsadsdasd</p>
      </div>


        <nav  aria-label="...">
            <ul  class="pagination  pagination-sm justify-content-center">
              <li class="page-item active " aria-current="page">
                <span class="page-link bg-dark">
                Nuevos productos
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item active"><a class="page-link bg-dark" href="#">Descuentos</a></li>
              <li class="page-item active"><a class="page-link bg-dark" href="#">Top + vendidos</a></li>
            </ul>
          </nav>



      </div>



    <div class="container-fluid pb-4">

      <div class="row">
        
        <div class="col-6">
            <img src="assets/banneBajo/Img.png"  class="card-img" alt="...">
            
         
          </div>

          <div class="col-6 text-center">

            <div id="boton">
            <button class="btn btn-outline-dark"> Descubri mas </button>

          </div>


          </div>


    </div>
  </div>






</div>